// Heading Color
$heading: #303030;

// Text Color
$text: #707070;

// Gray Background
$bg-gray: #5D5C60;

// Gray
$c-gray: #5D5C60;

// Primary Color
$primary: #E7CF49;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #E7CF49;

// Secondary Color
$secondary: #D8B836;

// tersiary Color
$tersiary: #D1AC33;
